.deposit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-deposit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.deposit-container .description {
  width: 85%;
}
