.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.login-container .description {
  width: 85%;
}
