.send-money-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-send-money {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

#send-money-form {
  margin: 0;
}

.contact-actions {
  text-align: right;
  margin-top: 0.75rem;
}

.contact-table {
  width: 100%;
}

table {
  border: 1px solid #644b4b;
  border-radius: 0.5rem;
}
