.transactions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header-transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}


.transactions-container .list-group {
  width: 100%;
  margin-top: 1rem;

  border: 1px solid #726266;
}

.transactions-container .list-group-item {
  border: none;
  min-height: 2.5rem;
}
